h2 {
  font-family: Switzer-Light;
  font-size: 20px;
  color: #bf8553;
  margin-bottom: 50px;
  padding-top: 80px;
}

p {
  font-family: Switzer-Semibold;
  font-size: 25px;
  line-height: 40px;
  margin-right: 120px;
  margin-bottom: 50px;
}

// @media (max-width: 768px) {
//   .p {
//     font-size: 16px;
//   }
// }

.italic {
  font-family: Switzer-SemiboldItalic;
}

.button {
  display: inline-block;
  font-family: Switzer-Bold;
  text-align: center;
  border: solid 1px;
  border-radius: 40px;
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 992px) {
  .button-center {
    text-align: center;
  }
}

.article-image-half {
  width: 50vw;
  display: block;
  max-inline-size: none;
}

@media (max-width: 992px) {
  .article-image-half {
    opacity: 50%;
    max-width: auto;

    display: block;
    max-inline-size: 100%;
    margin: auto;
    opacity: 50;
  }
}
