h2 {
  font-family: Switzer-Light;
  font-size: 20px;
  color: #bf8553;
  margin-bottom: 50px;
  padding-top: 80px;
}

.text-size {
  font-family: Switzer-Semibold;
  font-size: 16px;
  line-height: 31px;
  // margin-bottom: 50px;
  // margin-right: 120px;
  // margin-bottom: 50px;
}

@media (min-width: 576px) {
  .text-size {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (min-width: 768px) {
  .text-size {
    font-size: 18px;
    line-height: 35px;
  }
}

@media (min-width: 992px) {
  .text-size {
    font-size: 25px;
    line-height: 40px;
  }
}

@media (min-width: 992px) {
  .text-size {
    font-size: 20px;
    line-height: 32px;
    margin-right: 125px;
  }
}

@media (min-width: 1200px) {
  .text-size {
    font-size: 25px;
    line-height: 40px;
    margin-right: 125px;
  }
}

.italic {
  font-family: Switzer-SemiboldItalic;
}

.button {
  display: inline-block;
  font-family: Switzer-Bold;
  text-align: center;
  border: solid 1px;
  border-radius: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
}

.button-wrapper {
  text-align: center;
  padding-top: 60px;
}

a {
  text-decoration: none;
}

@media (max-width: 992px) {
  .button-center {
    text-align: center;
    padding-top: 50px;
  }
}

@media (max-width: 1400px) {
  .button-center {
    margin-top: 50px;
  }
}

.article-image-half {
  width: 50vw;
  display: block;
  max-inline-size: none;
  padding-top: 100px;
}

@media (max-width: 992px) {
  .article-image-half {
    width: 100vw;
    margin-left: calc((100vw - 720px) / -2);
  }
}
@media (max-width: 768px) {
  .article-image-half {
    margin-left: calc((100vw - 540px) / -2);
  }
}
@media (max-width: 576px) {
  .article-image-half {
    margin-left: -12px;
  }
}

.drink-card {
  text-align: center;
  font-family: Switzer-Semibold;
  color: white;
  position: relative;
}

.text {
  font-size: 20px;
  font-family: Switzer-Bold;
  position: absolute;
  bottom: 20;
  left: 0;
  right: 0;
}
.margin-text {
  padding-bottom: 50px;
  font-size: 25px;
}

.italic {
  font-size: 25px;
  margin-bottom: 50px;
}
.Product-card {
  text-align: center;
}

p {
  font-family: Switzer-semibold;
}

footer {
  font-family: Switzer-Semibold;
}
