header {
  background-image: url(../img/image-header.svg);
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  font-family: Switzer-Semibold;
  font-size: 130px;
  font-weight: 700;
  text-align: center;
  margin-top: 20%;
  color: transparent;
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
}
@media (min-width: 1200px) {
  .banner h1 {
    font-size: 260px;
    margin-top: -1%;
    padding-top: 100px;
  }
}

@media (min-width: 992px) {
  .banner h1 {
    font-size: 300px;
    margin-top: -1%;
    padding-top: 100px;
    -webkit-text-stroke: 4px rgb(255, 255, 255);
  }
}

@media (min-width: 768px) {
  .banner h1 {
    font-size: 200px;
    text-align: center;
    margin-top: -1%;
    padding-top: 100px;
  }
}
